Website/JustJETWebsite/App_WebReferences/SvcSupplier/SupplierA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54711/SupplierA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54711/SupplierA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54711/SupplierA.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierA_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetInvoiceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetInvoiceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetSupplierCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCatalog" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetSupplierCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetSupplierCatalogDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCatalogDetails" />
  </wsdl:message>
  <wsdl:message name="ISupplierA_GetSupplierCatalogDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCatalogDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierA">
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierA/GetInvoice" message="tns:ISupplierA_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierA/GetInvoiceResponse" message="tns:ISupplierA_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierA/GetInvoiceDetails" message="tns:ISupplierA_GetInvoiceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierA/GetInvoiceDetailsResponse" message="tns:ISupplierA_GetInvoiceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierA/GetSupplierCatalog" message="tns:ISupplierA_GetSupplierCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierA/GetSupplierCatalogResponse" message="tns:ISupplierA_GetSupplierCatalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCatalogDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierA/GetSupplierCatalogDetails" message="tns:ISupplierA_GetSupplierCatalogDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierA/GetSupplierCatalogDetailsResponse" message="tns:ISupplierA_GetSupplierCatalogDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupplierA" type="tns:ISupplierA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/ISupplierA/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap:operation soapAction="http://tempuri.org/ISupplierA/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCatalog">
      <soap:operation soapAction="http://tempuri.org/ISupplierA/GetSupplierCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCatalogDetails">
      <soap:operation soapAction="http://tempuri.org/ISupplierA/GetSupplierCatalogDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierA">
    <wsdl:port name="BasicHttpBinding_ISupplierA" binding="tns:BasicHttpBinding_ISupplierA">
      <soap:address location="http://localhost:54711/SupplierA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>