Website/SupplierWebsite/App_WebReferences/SvcJustJET/JustJET.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JustJET" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54676/JustJET.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54676/JustJET.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54676/JustJET.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJustJET_GetPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayment" />
  </wsdl:message>
  <wsdl:message name="IJustJET_GetPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IJustJET_GetPaymentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDetails" />
  </wsdl:message>
  <wsdl:message name="IJustJET_GetPaymentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IJustJET">
    <wsdl:operation name="GetPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IJustJET/GetPayment" message="tns:IJustJET_GetPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJustJET/GetPaymentResponse" message="tns:IJustJET_GetPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IJustJET/GetPaymentDetails" message="tns:IJustJET_GetPaymentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJustJET/GetPaymentDetailsResponse" message="tns:IJustJET_GetPaymentDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJustJET" type="tns:IJustJET">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPayment">
      <soap:operation soapAction="http://tempuri.org/IJustJET/GetPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <soap:operation soapAction="http://tempuri.org/IJustJET/GetPaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JustJET">
    <wsdl:port name="BasicHttpBinding_IJustJET" binding="tns:BasicHttpBinding_IJustJET">
      <soap:address location="http://localhost:54676/JustJET.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>